# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/sekhmet-client/node_modules
/sekhmet-client/.pnp
/sekhmet-client/.pnp.js

# testing
/sekhmet-client/coverage

# production
/sekhmet-client/build

# misc
/sekhmet-client/.DS_Store
/sekhmet-client/.env.local
/sekhmet-client/.env.development.local
/sekhmet-client/.env.test.local
/sekhmet-client/.env.production.local

sekhmet-client/npm-debug.log*
sekhmet-client/yarn-debug.log*
sekhmet-client/yarn-error.log*
