@import "../../../core/theme/colors.scss";
@import "../../../core/theme/fonts.scss";

.title {
  text-align: center;
  font-family: "K2D";
  color: $pureWhite;
  font-size: 35px;
  margin-top: 5vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 620px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 140px;
  background-color: $secondaryBackgroundColor;
  border-radius: 15px;
  justify-content: center;
  padding: 30px 30px 30px 30px;
}
.labelStyle {
  font-family: "K2D";
  color: $pureWhite;
  font-size: 18px;
}
.passwordLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.forgotPassword {
  color: $softPurple;
  font-size: 18px;
}
.inputStyle {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: $primaryBackgroundColor;
  margin: 5px 0 20px 0;
  font-size: 20px;
  color: $pureWhite;
  box-sizing: border-box;
  padding-left: 10px;
}
.inputStyle:focus {
  outline: none;
}
.signInButton {
  height: 50px;
  background-color: $softPurple;
  border: none;
  border-radius: 5px;
  color: $pureWhite;
  font-size: 18px;
}
.signInButton:hover {
  background-color: $softPurpleFocus;
  cursor: pointer;
}
.alreadyText {
  margin: auto;
  color: $pureWhite;
}
.alreadyLink {
  color: $softPurple;
}
