$pureWhite: #ffffff;
$pureBlack: #000000;
$primaryBackgroundColor: #241F2E;
$secondaryBackgroundColor: #342C42;
$softPurple: #665AAD;
$softPurpleFocus: #4c4187;
$greyBorder: #484848;
$greyBorderLight: #a7a7a7;